---
import { getAssetUrl } from "@utils/publicPaths";
import checkIconRaw from "@assets/svg/check.svg?raw";
---

<div
	class="w-full max-w-sm p-6 bg-neutral-primary-soft border border-default rounded-base shadow-xs rounded-lg">
	<h5 class="mb-4 text-xl font-medium text-body">Plan Estandar</h5>
	<div class="flex items-baseline text-heading">
		<span class="text-5xl font-extrabold accent-tm-cyan">$0</span>
		<span class="ms-2 font-medium text-body">/mes</span>
	</div>
	<ul role="list" class="space-y-4 my-6">
		<li class="flex items-center">
			<span class="text-body">2 miembros en el equipo</span>
		</li>
		<li class="flex items-center">
			<Fragment set:html={checkIconRaw} />
			<span class="text-body">20GB Cloud storage</span>
		</li>
		<li class="flex items-center">
			<Fragment set:html={checkIconRaw} />
			<span class="text-body">Ayuda con la integración</span>
		</li>
		<li class="flex items-center line-through decoration-body">
			<Fragment set:html={checkIconRaw} />
			<span class="text-body">Archivos de Sketch</span>
		</li>
		<li class="flex items-center line-through decoration-body">
			<Fragment set:html={checkIconRaw} />
			<span class="text-body">Acceso a la API</span>
		</li>
		<li class="flex items-center line-through decoration-body">
			<Fragment set:html={checkIconRaw} />
			<span class="text-body">Acceso a la API</span>
		</li>
		<li class="flex items-center line-through decoration-body">
			<Fragment set:html={checkIconRaw} />
			<span class="text-body">Documentación completa</span>
		</li>
		<li class="flex items-center line-through decoration-body">
			<Fragment set:html={checkIconRaw} />
			<span class="text-body">Soporte telefónico y por correo 24×7</span>
		</li>
	</ul>
	<button
		type="button"
		class="w-full bg-blue-600 hover:bg-blue-500 text-white rounded-2xl box-border border border-transparent focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">
		Seleccionar Plan
	</button>
</div>
